body,
html {
  height: 100%;
}
.container {
  min-width: 75%;
  padding: 15px;
}
.container-fluid {
  background-color: white;
  padding: 35px;
}
.fullVH {
  height: 100%;
  width: 100%;
}
input[type="file"] {
  display: none;
}
.customFiles {
  cursor: pointer;
  border: 1px solid #4c49d7;
  border-radius: 15px;
  display: inline-block;
  padding: 6px 12px;
  color: #4c49d7;
  text-align: center;
}
.customBtn {
  border: 1px solid #4c49d7;
  border-radius: 15px;
  padding: 6px 12px;
  color: white;
  text-align: center;
  background-color: #4c49d7;
}
.customerOtherBtn{
  margin-left: 5px;
  border: 1px solid #4c49d7;
  border-radius: 15px;
  padding: 6px 12px;
  color: white;
  text-align: center;
  background-color: gray;
}
.warningBtn{
  margin-left: 5px;
  border: 2px solid black;
  border-radius: 15px;
  padding: 6px 12px;
  color: white;
  text-align: center;
  background-color: #cc0033;
}
.rowBtnPost {
  margin-top: 15px;
  float: right;
}
.customLink{
  color: #4c49d7;
}
.remove-btn {
  display: none;
  color: red;
}
