.postListingContainer{
   padding: 15px;
   margin-top: 15px;
   margin-bottom: 15px;
   border-radius: 15px;
   border: 1px solid #e5e5e5;
   box-shadow: 5px 10px 10px #e5e5e5;
   overflow-y: auto;
}



