.pageTitle {
  font-size: 20px;
  font-weight: bold;
}
.listProdTitle {
  font-weight: bold;
  font-size: 25px;

  /* limit title width to the same width of the of the image */
}

.listProdCat {
  font-weight: bold;
  color: #506d90;
  font-size: 13px;
}

.listProdPrice {
  font-weight: bold;
  padding-top: 3px;
  font-size: 18px;
  color: #001829;
}

.listCond {
  font-weight: bold;
  color: #506d90;
  font-size: 13px;
}

.listState {
  font-weight: bold;
  color: #506d90;
  font-size: 13px;
}
.listPostedOn {
  font-weight: bold;
  color: #506d90;
  font-size: 13px;
}

.listSeller {
  font-size: 13px;
  color: #506d90;
}
.listDesc {
  border: 1px solid #e5e5e5;
  box-shadow: 0px 10px 10px #e9ecef;
  padding: 15px;
  border-radius: 15px;
  margin-top: 25px;
}

.listImgBox {
}

.listInfoBox {
}

.requestInfo {
  background-color: #f8f9fa;
  border: 1px solid #e5e5e5;
  box-shadow: 5px 10px 10px #e5e5e5;
  padding: 15px;
  border-radius: 15px;
}
.requestForm {
  margin-top: 15px;
  background-color: #f8f9fa;
  border: 1px solid #e5e5e5;
  box-shadow: 5px 10px 10px #e5e5e5;
  padding: 25px;
  border-radius: 15px;
}

#sendPic,
#sendPic2,
#sendPic3,
#sendPic4 {
  width: 73px;
  height: 25px;
  margin-right: 5px;
  padding: 0px;
  border: 0px;
}
