.inboxContainer {
   margin-top: 15px;
   border-radius: 15px;
   border: 1px solid #E5E5E5;
   box-shadow: 5px 10px 10px #E5E5E5;
   padding: 15px;
}

.container {
   padding: 15px;
   min-width: 75%;
}

/* Important, sets it so that was "edit" listing buttons only show on a table hover */
table {
   border-collapse: collapse;
}

table a {
   color: black;
}

td:after {
   content: '';
   display: block;
   margin-top: 15%;
}

.subText {
   color: #506d90;
   font-size: 12px;
   margin-top: 2px;
}